### Задание 1

In [1]:
my_string = 'Phyton vs R'

In [2]:
my_string[5:7]

'n '

### Задание 2

In [3]:
user_input = int(input('Введите число: '))
sum_of_inputs = 0
while user_input != 0:
    sum_of_inputs += user_input
    print(user_input)
    user_input = int(input('Введите число: '))
else:
    print(sum_of_inputs)

Введите число: 1
1
Введите число: 3
3
Введите число: 0
4

### Задание 3

In [1]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
sorted(boys)
sorted(girls)
print('Идеальные пары: ')
list(zip(boys, girls))

Идеальные пары:

[('Peter', 'Kate'),
 ('Alex', 'Liza'),
 ('John', 'Kira'),
 ('Arthur', 'Emma'),
 ('Richard', 'Trisha')]

### Задание 4

In [ ]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
average = int(0+7)/int
for element in countries_temperature:
print(element[1], 'средняя температура', average, 'C')